// Import page-specific CSS files here.
@import "home";


.show-box {
margin-top: 200px;
margin-left: 200px;
}

.index-box {
margin-top: 100px;
margin-left: 50px;
}

.show-new {
margin-top: 200px;
margin-left: 200px !important;
}
