// form-scss

  #form-box {
    margin: 200px auto;
    background-image: url("https://unsplash.com/photos/hQo6Uyo4nBg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
}

#form-content {
  margin-top: 200px;
  background-color: #f8f9fa;
  color: black;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 30px;
}

#form-content h1 {
  font-family: 'Roboto Mono', monospace !important;
  margin-bottom: 20px;
}

#form-content label{
  margin-bottom: 15px;
}

#form-content .form-group{
  margin-bottom: 30px;
}


.form-background {
background-repeat: none;
background-size: cover;
}


.btn-form{
background-color: #f8f9fa;
font-family: 'Roboto Mono', monospace;
border: 1px solid black;
color: black;
border-radius: 5px;
padding: 14px 32px;
font-weight: normal;

text-align: center;
display: inline-block;
margin-bottom: 30px;
margin-top: 10px;

a {
text-decoration: none;
color: black;
}

a:hover{
opacity: 0.4;
}
}

.btn-form:hover{
opacity: 0.4;
}
