
  .reviews {
  margin-left: 50px;
  margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    margin-left: 10px;
  }

  .show-box {
    margin-top: 10rem;
    margin-left: 50px;
    margin-right: 40px;
    margin-bottom: 50px;
    }

.show-new {
  margin-top: 200px;
  margin-left: 200px !important;
  }

  .title {
    display: flex;
    margin-bottom: 15px;
  }

  #available{
    background-color: green;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
    margin-top: 11px;
    margin-left: 10px;
  }

  #unavailable{
    background-color: red;
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
    margin-top: 11px;
    margin-left: 10px;
  }

  .links {
    display: flex;
  }

.show-image {
  width: 50%;
  display: inline-block;
  text-align: center;
  margin-top:  170px;
  margin-right: 100px;

  // margin-left: 50px;

  img{
    object-fit: cover;
    height: 390px;
    border-radius: 5px;
  }
}

.image-content {
  display: flex;
  padding-bottom: 50px;
}

.show-button {
  color: black;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid black;
  width: 100px;
  padding: 4px;
  margin-right: 0px;
  text-align: center;
  a {
    text-decoration: none;
  }

 a:hover {
  color: black;
  text-decoration: none;
  }
}

a {
  text-decoration: none;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
.show-image {
  width: 10%;
  display: inline-block;
  text-align: center;
  margin-top:  170px;
  margin-right: 100px;
  img{
    object-fit: cover;
    height: 390px;
    width: 280px;
    border-radius: 5px;
  }
}

  .show-box {
    margin-top: 10rem;
    margin-left: 50px;
    margin-right: 40px;
    margin-bottom: 50px;

    }

.content-container {
  width: 50%;
}

}

