<div class="footer">
  <div class="footer-links">
    <a href="https://www.cyberpunk.net/de/de/" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/cdpred/?hl=de"><i class="fab fa-instagram" target="_blank"></i></a>
    <a href="https://www.facebook.com/CDPROJEKTRED/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/CDPROJEKTRED" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
  </div>
</div>
