<body class="form-background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.imgur.com/K5P5Twf.jpg);">
  <div class="cards-profile" data-aos="fade-down" data-aos-duration="1500">
  <div class="card-category-profile"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
    <h3 class="subline-profile">My Rentals:</h3>
   <!--  <p>These are all the rentals you made:</p> -->
    <ul>
      <% @rentals.each do |rental| %>
        <li><i class="fas fa-angle-right"></i><%= link_to rental.game.title, rental_path(rental) %></li>
      <% end %>
    </ul>
  </div>
  <div class="card-category-profile" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
    <h3 class="subline-profile">My Games:</h3>
    <!-- <p>These are all the games you offered:</p> -->
    <ul>
      <% @user.games.each do |game| %>
        <li><i class="fas fa-angle-right"> </i><%= link_to game.title, game_path(game) %></li>
      <% end %>
    </ul>
  </div>
  <div class="card-category-profile" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
    <h3 class="subline-profile">My Reviews and Ratings:</h3>
    <ul>
      <% @user.reviews.each do |review| %>
        <li><i class="fas fa-angle-right"></i><%= review.rating %> of 5 Stars:</li>
        <li> </i><%= review.comment %></li>
        <hr>
      <% end %>
    </ul>
  </div>
</div>
</body>


