<h1>All Games</h1>




<div class="cards">
  <% @games.each do |game| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1599409284444-d61f3797e72f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
        <%= link_to game.title, game_path(game) %>
    </div>
  <% end  %>
</div>

