
<h1 class="text-center headline-index">Discover a New Universe of Gaming</h1>
<div class="index-box">

<div class="cards">
  <% @games.each do |game| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.redd.it/d5g2jaawgw431.jpg)">
      <h1 class="game-title"> <%= link_to game.title, game_path(game) %> </h1>
    </div>
  <% end  %>
</div>

</div>

<%= link_to "All Reviews", reviews_path %>
