.button {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid black;
  width: 100px;
  padding: 1px;
  margin-right: 10px;
  text-align: center;
  a {
    color:black;
  }
  a:hover {
    text-decoration: none;
  }

}

.button:hover {
 opacity: 0.5;
}

.button-sign-up {
  background: #364475;
  border-radius: 5px;
  width: 100px;
  margin-top: 30px;
  input {
    color: white;
    font-weight: bolder;
  }
}
