#form-box {
  margin: 100px auto;
  background-image: url("https://unsplash.com/photos/hQo6Uyo4nBg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}

#form-content {
  margin-top: 200px;
  background-color: #f8f9fa;
  opacity: 0.8;
  color: black;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 25px;
}

#form-content h1 {
  font-family: 'Roboto Mono', monospace !important;
  margin-bottom: 20px;
  word-spacing: -10px;

}

#form-content label{
  margin-bottom: 15px;
}

#form-content .form-group{
  margin-bottom: 30px;
}

.form-background {
  background-repeat: none;
  background-size: cover;
}

.btn-form{
  background-color: #f8f9fa;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  padding: 14px 32px;
  padding-right: 53px;
  font-weight: normal;
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 10px;

  a {
    text-decoration: none;
    color: black;
  }

  a:hover{
    opacity: 0.4;
  }
}

.btn-form:hover{
  opacity: 0.4;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
#form-content {
  width: 80%;
}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
#form-content {
  width: 80%;
}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
#form-content {
  width: 80%;
}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
#form-content {
  width: 50%;
}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
#form-content {
  width: 50%;
}
}
