// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "simple_form";
@import "card";
@import "footer";
@import "button";
@import "form";
@import "profilecards";
@import "flash";

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
