
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}



.navbar {
  background-color: transparent !important;
  &:hover {
    // background-color: #f8f9fa!important;
    background-color: #e9ecef!important;
    color: black;
  }

}

   .dropdown-item {
    color: black;
  }
  .dropdown-item:hover {
    opacity: 0.4;
    color: black;
  }

.nav-link {
  color:black;
}
.nav-link:hover {
 text-decoration: none;
 color:black;
 opacity: 0.4;
}
