
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


li .avatar-large {
//margin-left: 1300px;
margin-left: 200px;
margin-top: 10px;

}

.nav-link {

margin-top: 16px;
margin-right:10px;
color: #f8f9fa !important;
font-size: 19px;
}

.nav-link:hover {
opacity: 0.6 !important;
}


