// .headline-profile {
// // margin-top: 50px;
//   text-align: center;
//   margin-top: 100px;
//   margin-left: 55px;
//   background-size: cover;
//   background-position: center;
//   height: 50px;
//   color: white;
//   font-size: 24px;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   width: 92%;
//   display: grid;
//   grid-template-columns: 1fr
// }

.center-mid {
  display: flex;
  justify-content : center;
}

.headline-profile {
// margin-top: 50px;
  text-align: center;
  margin-top: 100px;
  margin-left: 55px;
  background-size: cover;
  background-position: center;
  height: 50px;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.subline-profile {
  color: #dee2e6;
  padding-left: 20px;
  padding-top: 20px;
}


.fa-angle-right {
  margin-right: 8px;
}

.card-category-profile {
  background-size: cover;
  background-position: center;
  height: 600px;
  margin-top: 12px;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 0 5px;
  a:hover {
    opacity: 0.8;
}

  a {
    color: #e9ecef;
    text-decoration: none;
  }

  p {

  font-size: 14px;
  font-weight:lighter;
  color: white;
  margin-top: 50px;
  text-align: center;
  padding: 5px;

  }

  h1 {
    margin-top: 2rem;
    font-size: 24px;
    font-weight:bold;
    color: whitesmoke;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding-left: 20px;
  }

  li {
    padding-left: 20px;
  }
}


.cards-profile {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 70px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-profile {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-profile {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-profile {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-profile {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-profile {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
